<html>
  
<body>
  
  <form action="/calc" method="POST">
    <legend>Our basic Calculator:</legend>
    <input type="number" id="num1" placeholder="Enter 1st no.">
   <fieldset>
    

    <div>
      <input type="radio" id="add" name="Add" value="+">
      <label for="Add">Addition</label>
    </div>

    <div>
      <input type="radio" id="sub" name="Sub" value="-">
      <label for="Sub">Substraction</label>
    </div>

    <div>
      <input type="radio" id="mul" name="Mul" value="*">
      <label for="Mul">Multiply</label>
    </div>
     
     <div>
      <input type="radio" id="div" name="Div" value="/">
      <label for="Div">Division</label>
    </div>
</fieldset>
    <input type="number" id="num2" placeholder="Enter 2nd no.">
    <br>
    <input type="reset">
    <br>
    <input type="submit">
    {%%}
  </form>
  </body>
</html>